 /* width */
 ::-webkit-scrollbar {
    width: .3rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    transition:all .5s;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: goldenrod;
}
